/* CSS declarations go here */
/*
 * http://paletton.com/#uid=63n0Q1kwi++bu++hX++++rd++kXk3jixfZa-2gen1ea40k6Sk3jlL7skA3DjG3UhG3TfQk482y4A7-3I4E5r3Y7D51
 */
body {
    color: #000000;
}

.container {
    text-align: center;
    overflow:auto;
}

.content{
    padding-top: 50px;
    background-color: #948C84;
}
#player-btns {
    padding-top: 1.5%;
    color: #948E84;
}
/* Set the fixed height of the footer here */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #595761;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    overflow:hidden;
}

nav{
    background-color:#1FD0F9;
}
nav  a:visited{
    color: #015062;
}
nav  a:link{
    color: #089E8FE;
}

.active{
    color: #057691;
}
