/* CSS declarations go here */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 5%;
    margin-bottom: 60px;
}

.container {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#foot {
    width: 100%;
}
#player-btns {
    padding-top: 1.5%;
    width: 100%;

}

.box {
    /*margin-left: 25%;*/
    /*width: 80%;*/
}
/* Set the fixed height of the footer here */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 50px;
}
