/* CSS declarations go here */
@import '_palette';
$body-bg:                           #505050;
$navbar-inverse-bg:                 $color-primary-0;
$navbar-inverse-link-active-color:  lighten($color-primary-1, 15%); //Active link
$navbar-inverse-link-color:         $color-primary-1;
$link-color:                        $color-secondary-2-0;
$link-hover-color:                  lighten($link-color, 15%);
$text-color:                        $color-secondary-2-2;
$headings-color:                    $color-secondary-2-3; //h1, h2, h3...
@import '{reywood:bootstrap3-sass}/bootstrap';

body {
  padding-top: 50px;
}
#wrap{
    padding: 40px 15px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.container {
    text-align: center;
}

#player-btns {
    padding-top: 1.5%;
}
/* Set the fixed height of the footer here */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background: $body-bg;
}
